NEXT_PUBLIC_API_URL=http://localhost:8080
BACKEND_URL=http://localhost:8080
NEXT_PUBLIC_SUPABASE_URL=https://cvxeyptpiefaktdvnxch.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_REGISTRY_ADDRESS=
